.App {
  text-align: left;
  height: 100vh;
  overflow: hidden;
  cursor: url(https://s3-us-west-2.amazonaws.com/hunt.codes/cursor.png), pointer;
}

.App-balloon {
  top: 140px;
  position: absolute;
}

.App-logo {
  animation-name: balloon;
  animation-duration: 4s;
}

#balloons {
  margin: 1em auto;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  perspective: 1200px;
}

@-webkit-keyframes spinner {
  from { -webkit-transform: rotateY(0deg);    }
  to   { -webkit-transform: rotateY(-360deg); }
}

@keyframes spinner {
  from {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}

#spinner {
  -webkit-animation-name: spinner;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 6s;

  animation-name: spinner;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 6s;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.App-transamerica {
  position: fixed;
  bottom: 0;
  right: 15vw;
  height: 30vh;
  opacity: 0;
  transition: opacity 1s;
}

.App-transamerica-opaque {
  opacity: 100;
}

.App-gg-bridge {
  position: fixed;
  bottom: 0;
  right: -350px;
  height: 40vh;
  opacity: 0;
  z-index: 1;
  transition: opacity 1s, right 2s;
}

.App-gg-bridge-opaque {
  right: 0;
  opacity: 100;
}

.App-name {
  left: 50vw;
  top: 45vh;
  position: absolute;
  font-weight: 600;
  font-size: 28px;
  color: #4a4a4a;
  z-index: 2;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

p {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

a {
  text-decoration: none;
  color: unset;
}

a, button {
  cursor: url(https://s3-us-west-2.amazonaws.com/hunt.codes/cursor.png), pointer;
}

button:hover {
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}

@keyframes balloon {
  from {
    color: red;
  }
  to {
    color: yellow;
  }
}

.App-background2 {
  height: 100vh;
  background: linear-gradient(
    196deg,
    hsla(210, 100%, 45.1%, 0) 0%,
    hsla(210, 100%, 45.1%, 0.007) 9.3%,
    hsla(210, 100%, 45.1%, 0.027) 17.9%,
    hsla(210, 100%, 45.1%, 0.058) 26%,
    hsla(210, 100%, 45.1%, 0.098) 33.5%,
    hsla(210, 100%, 45.1%, 0.145) 40.6%,
    hsla(210, 100%, 45.1%, 0.197) 47.3%,
    hsla(210, 100%, 45.1%, 0.252) 53.7%,
    hsla(210, 100%, 45.1%, 0.308) 59.8%,
    hsla(210, 100%, 45.1%, 0.363) 65.7%,
    hsla(210, 100%, 45.1%, 0.415) 71.4%,
    hsla(210, 100%, 45.1%, 0.462) 77.1%,
    hsla(210, 100%, 45.1%, 0.502) 82.7%,
    hsla(210, 100%, 45.1%, 0.533) 88.3%,
    hsla(210, 100%, 45.1%, 0.553) 94.1%,
    hsla(210, 100%, 45.1%, 0.56) 100%
  );
}

.App-background {
  background: linear-gradient(
    168deg,
    hsl(337.38, 100%, 88.04%) 0%,
    hsl(337.38, 100%, 88.04%) 1%,
    hsl(337.4, 100%, 88.18%) 1%,
    hsl(337.4, 100%, 88.18%) 2%,
    hsl(337.43, 100%, 88.32%) 2%,
    hsl(337.43, 100%, 88.32%) 3%,
    hsl(337.46, 100%, 88.46%) 3%,
    hsl(337.46, 100%, 88.46%) 4%,
    hsl(337.48, 100%, 88.59%) 4%,
    hsl(337.48, 100%, 88.59%) 5%,
    hsl(337.51, 100%, 88.73%) 5%,
    hsl(337.51, 100%, 88.73%) 6%,
    hsl(337.53, 100%, 88.87%) 6%,
    hsl(337.53, 100%, 88.87%) 7%,
    hsl(337.56, 100%, 89.01%) 7%,
    hsl(337.56, 100%, 89.01%) 8%,
    hsl(337.58, 100%, 89.14%) 8%,
    hsl(337.58, 100%, 89.14%) 9%,
    hsl(337.61, 100%, 89.28%) 9%,
    hsl(337.61, 100%, 89.28%) 10%,
    hsl(337.63, 100%, 89.41%) 10%,
    hsl(337.63, 100%, 89.41%) 11%,
    hsl(337.65, 100%, 89.55%) 11%,
    hsl(337.65, 100%, 89.55%) 12%,
    hsl(337.68, 100%, 89.68%) 12%,
    hsl(337.68, 100%, 89.68%) 13%,
    hsl(337.7, 100%, 89.82%) 13%,
    hsl(337.7, 100%, 89.82%) 14%,
    hsl(337.73, 100%, 89.95%) 14%,
    hsl(337.73, 100%, 89.95%) 15%,
    hsl(337.75, 100%, 90.08%) 15%,
    hsl(337.75, 100%, 90.08%) 16%,
    hsl(337.77, 100%, 90.21%) 16%,
    hsl(337.77, 100%, 90.21%) 17%,
    hsl(337.8, 100%, 90.35%) 17%,
    hsl(337.8, 100%, 90.35%) 18%,
    hsl(337.82, 100%, 90.48%) 18%,
    hsl(337.82, 100%, 90.48%) 19%,
    hsl(337.84, 100%, 90.61%) 19%,
    hsl(337.84, 100%, 90.61%) 20%,
    hsl(337.87, 100%, 90.74%) 20%,
    hsl(337.87, 100%, 90.74%) 21%,
    hsl(337.89, 100%, 90.87%) 21%,
    hsl(337.89, 100%, 90.87%) 22%,
    hsl(337.91, 100%, 91%) 22%,
    hsl(337.91, 100%, 91%) 23%,
    hsl(337.93, 100%, 91.13%) 23%,
    hsl(337.93, 100%, 91.13%) 24%,
    hsl(337.96, 100%, 91.26%) 24%,
    hsl(337.96, 100%, 91.26%) 25%,
    hsl(337.98, 100%, 91.39%) 25%,
    hsl(337.98, 100%, 91.39%) 26%,
    hsl(338, 100%, 91.52%) 26%,
    hsl(338, 100%, 91.52%) 27%,
    hsl(338.02, 100%, 91.64%) 27%,
    hsl(338.02, 100%, 91.64%) 28%,
    hsl(338.04, 100%, 91.77%) 28%,
    hsl(338.04, 100%, 91.77%) 29%,
    hsl(338.06, 100%, 91.9%) 29%,
    hsl(338.06, 100%, 91.9%) 30%,
    hsl(338.09, 100%, 92.02%) 30%,
    hsl(338.09, 100%, 92.02%) 31%,
    hsl(338.11, 100%, 92.15%) 31%,
    hsl(338.11, 100%, 92.15%) 32%,
    hsl(338.13, 100%, 92.28%) 32%,
    hsl(338.13, 100%, 92.28%) 33%,
    hsl(338.15, 100%, 92.4%) 33%,
    hsl(338.15, 100%, 92.4%) 34%,
    hsl(338.17, 100%, 92.53%) 34%,
    hsl(338.17, 100%, 92.53%) 35%,
    hsl(338.19, 100%, 92.65%) 35%,
    hsl(338.19, 100%, 92.65%) 36%,
    hsl(338.21, 100%, 92.78%) 36%,
    hsl(338.21, 100%, 92.78%) 37%,
    hsl(338.23, 100%, 92.9%) 37%,
    hsl(338.23, 100%, 92.9%) 38%,
    hsl(338.25, 100%, 93.03%) 38%,
    hsl(338.25, 100%, 93.03%) 39%,
    hsl(338.27, 100%, 93.15%) 39%,
    hsl(338.27, 100%, 93.15%) 40%,
    hsl(338.29, 100%, 93.27%) 40%,
    hsl(338.29, 100%, 93.27%) 41%,
    hsl(338.31, 100%, 93.39%) 41%,
    hsl(338.31, 100%, 93.39%) 42%,
    hsl(338.33, 100%, 93.52%) 42%,
    hsl(338.33, 100%, 93.52%) 43%,
    hsl(338.35, 100%, 93.64%) 43%,
    hsl(338.35, 100%, 93.64%) 44%,
    hsl(338.37, 100%, 93.76%) 44%,
    hsl(338.37, 100%, 93.76%) 45%,
    hsl(338.39, 100%, 93.88%) 45%,
    hsl(338.39, 100%, 93.88%) 46%,
    hsl(338.41, 100%, 94%) 46%,
    hsl(338.41, 100%, 94%) 47%,
    hsl(338.43, 100%, 94.12%) 47%,
    hsl(338.43, 100%, 94.12%) 48%,
    hsl(338.45, 100%, 94.24%) 48%,
    hsl(338.45, 100%, 94.24%) 49%,
    hsl(338.47, 100%, 94.36%) 49%,
    hsl(338.47, 100%, 94.36%) 50%,
    hsl(338.49, 100%, 94.48%) 50%,
    hsl(338.49, 100%, 94.48%) 51%,
    hsl(338.5, 100%, 94.6%) 51%,
    hsl(338.5, 100%, 94.6%) 52%,
    hsl(338.52, 100%, 94.72%) 52%,
    hsl(338.52, 100%, 94.72%) 53%,
    hsl(338.54, 100%, 94.84%) 53%,
    hsl(338.54, 100%, 94.84%) 54%,
    hsl(338.56, 100%, 94.96%) 54%,
    hsl(338.56, 100%, 94.96%) 55%,
    hsl(338.58, 100%, 95.08%) 55%,
    hsl(338.58, 100%, 95.08%) 56%,
    hsl(338.6, 100%, 95.2%) 56%,
    hsl(338.6, 100%, 95.2%) 57%,
    hsl(338.61, 100%, 95.31%) 57%,
    hsl(338.61, 100%, 95.31%) 58%,
    hsl(338.63, 100%, 95.43%) 58%,
    hsl(338.63, 100%, 95.43%) 59%,
    hsl(338.65, 100%, 95.55%) 59%,
    hsl(338.65, 100%, 95.55%) 60%,
    hsl(338.67, 100%, 95.66%) 60%,
    hsl(338.67, 100%, 95.66%) 61%,
    hsl(338.69, 100%, 95.78%) 61%,
    hsl(338.69, 100%, 95.78%) 62%,
    hsl(338.7, 100%, 95.9%) 62%,
    hsl(338.7, 100%, 95.9%) 63%,
    hsl(338.72, 100%, 96.01%) 63%,
    hsl(338.72, 100%, 96.01%) 64%,
    hsl(338.74, 100%, 96.13%) 64%,
    hsl(338.74, 100%, 96.13%) 65%,
    hsl(338.76, 100%, 96.24%) 65%,
    hsl(338.76, 100%, 96.24%) 66%,
    hsl(338.77, 100%, 96.36%) 66%,
    hsl(338.77, 100%, 96.36%) 67%,
    hsl(338.79, 100%, 96.47%) 67%,
    hsl(338.79, 100%, 96.47%) 68%,
    hsl(338.81, 100%, 96.59%) 68%,
    hsl(338.81, 100%, 96.59%) 69%,
    hsl(338.82, 100%, 96.7%) 69%,
    hsl(338.82, 100%, 96.7%) 70%,
    hsl(338.84, 100%, 96.81%) 70%,
    hsl(338.84, 100%, 96.81%) 71%,
    hsl(338.86, 100%, 96.93%) 71%,
    hsl(338.86, 100%, 96.93%) 72%,
    hsl(338.87, 100%, 97.04%) 72%,
    hsl(338.87, 100%, 97.04%) 73%,
    hsl(338.89, 100%, 97.15%) 73%,
    hsl(338.89, 100%, 97.15%) 74%,
    hsl(338.91, 100%, 97.27%) 74%,
    hsl(338.91, 100%, 97.27%) 75%,
    hsl(338.92, 100%, 97.38%) 75%,
    hsl(338.92, 100%, 97.38%) 76%,
    hsl(338.94, 100%, 97.49%) 76%,
    hsl(338.94, 100%, 97.49%) 77%,
    hsl(338.96, 100%, 97.6%) 77%,
    hsl(338.96, 100%, 97.6%) 78%,
    hsl(338.97, 100%, 97.71%) 78%,
    hsl(338.97, 100%, 97.71%) 79%,
    hsl(338.99, 100%, 97.83%) 79%,
    hsl(338.99, 100%, 97.83%) 80%,
    hsl(339, 100%, 97.94%) 80%,
    hsl(339, 100%, 97.94%) 81%,
    hsl(339.02, 100%, 98.05%) 81%,
    hsl(339.02, 100%, 98.05%) 82%,
    hsl(339.04, 100%, 98.16%) 82%,
    hsl(339.04, 100%, 98.16%) 83%,
    hsl(339.05, 100%, 98.27%) 83%,
    hsl(339.05, 100%, 98.27%) 84%,
    hsl(339.07, 100%, 98.38%) 84%,
    hsl(339.07, 100%, 98.38%) 85%,
    hsl(339.08, 100%, 98.49%) 85%,
    hsl(339.08, 100%, 98.49%) 86%,
    hsl(339.1, 100%, 98.6%) 86%,
    hsl(339.1, 100%, 98.6%) 87%,
    hsl(339.11, 100%, 98.71%) 87%,
    hsl(339.11, 100%, 98.71%) 88%,
    hsl(339.13, 100%, 98.82%) 88%,
    hsl(339.13, 100%, 98.82%) 89%,
    hsl(339.14, 100%, 98.92%) 89%,
    hsl(339.14, 100%, 98.92%) 90%,
    hsl(339.16, 100%, 99.03%) 90%,
    hsl(339.16, 100%, 99.03%) 91%,
    hsl(339.17, 100%, 99.14%) 91%,
    hsl(339.17, 100%, 99.14%) 92%,
    hsl(339.19, 100%, 99.25%) 92%,
    hsl(339.19, 100%, 99.25%) 93%,
    hsl(339.2, 100%, 99.36%) 93%,
    hsl(339.2, 100%, 99.36%) 94%,
    hsl(339.22, 100%, 99.47%) 94%,
    hsl(339.22, 100%, 99.47%) 95%,
    hsl(339.23, 100%, 99.57%) 95%,
    hsl(339.23, 100%, 99.57%) 96%,
    hsl(339.25, 100%, 99.68%) 96%,
    hsl(339.25, 100%, 99.68%) 97%,
    hsl(339.26, 100%, 99.79%) 97%,
    hsl(339.26, 100%, 99.79%) 98%,
    hsl(339.28, 100%, 99.89%) 98%,
    hsl(339.28, 100%, 99.89%) 99%,
    hsl(0, 0%, 100%) 99%,
    hsl(0, 0%, 100%) 100%
  );
}
