body {
  margin: 0;
  padding: 0;
  font-family: "infini", "Helvetica Neue", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "infini";
  src: url("/infini-regular.woff");
}

@font-face {
  font-family: "nova";
  src: url("/NovaMono-Regular.ttf");
}

.nameTitle {
  font-family: "nova", "Helvetica Neue", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", sans-serif;
}
